{% extends "publico_base.njk" %}
{% block titulo %}
    Detalle Receta | Recetas
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-12">
            <h1>{{ receta.titulo }}</h1>
        </div>
        <div class="col-6">
            <img src="/public/uploads/{{ receta.imagen }}" style="width: 100%"/>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <strong title="Número de comensales">
                        <i class="fas fa-user"></i>
                    </strong>
                    {{ receta.comensales }}
                </div>
                <div class="col-2">
                    <strong title="Tiempo de preparación">
                        <i class="far fa-clock"></i>
                    </strong>
                    {{ receta.preparacion }}
                </div>
                <div class="col-2">
                    <strong title="Tiempo de cocción">
                        <span class="fa-layers fa-fw">
                            <i class="fas fa-fire" data-fa-transform="grow-5"></i>
                            <i class="fas fa-clock text-white" data-fa-transform="shrink-10 down-4.2 right-3.8"></i>
                        </span>
                    </strong>
                    {{ receta.coccion }}
                </div>
                <div class="col-12">
                    <p class="mt-3">
                        {{ receta.descripcion }}
                    </p>
                </div>
                {# elementos: [elementoSchema] #}
            </div>
        </div>
    </div>
{% endblock %}