{% extends "publico_base.njk" %}
{% block titulo %}
    Error | Recetas
{% endblock %}
{% block contenido %}
    <div class="alert alert-danger mt-5" role="alert">
        <h4 class="alert-heading">{{ error.titulo }}</h4>
        <p>{{ error.mensaje }}</p>
    </div>
{% endblock %}