{% extends "publico_base.njk" %}
{% block titulo %}
    Inicio | Recetas
{% endblock %}
{% block contenido %}
    <h1>{{ titulo }}</h1>
    <div class="card-columns">
        {% for receta in recetas %}
            <div class="card">
                <img src="uploads/{{ receta.imagen }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ receta.titulo }}</h5>
                    <p class="card-text">{{ receta.comensales }} comensales</p>
                    <p class="card-text">
                        <small class="text-muted"><strong>Preparación:</strong> {{ receta.preparacion }} min. - <strong>Cocción:</strong> {{ receta.coccion }} min.</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}