{% extends "publico_base.njk" %}
{% block titulo %}
    Detalle Receta | Recetas
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-12">
            <h1>{{ receta.titulo }}</h1>
        </div>
        <div class="col-6">
            <img src="/public/uploads/{{ receta.imagen }}" style="width: 100%"/>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-2">
                    <strong title="Número de comensales">
                        <i class="fas fa-user"></i>
                    </strong>
                    {{ receta.comensales }}
                </div>
                <div class="col-2">
                    <strong title="Tiempo de preparación">
                        <i class="far fa-clock"></i>
                    </strong>
                    {{ receta.preparacion }}
                </div>
                <div class="col-2">
                    <strong title="Tiempo de cocción">
                        <span class="fa-layers fa-fw">
                            <i class="fas fa-fire" data-fa-transform="grow-5"></i>
                            <i class="fas fa-clock text-white" data-fa-transform="shrink-10 down-4.2 right-3.8"></i>
                        </span>
                    </strong>
                    {{ receta.coccion }}
                </div>
                {% if receta.elementos | length > 0 %}
                    <div class="col-12">
                        <ul class="list-group mt-2">
                            <li class="list-group-item bg-secondary text-white disabled">Ingredientes</li>
                            {% for elemento in receta.elementos %}
                                <li class="list-group-item">
                                    <strong>{{ elemento.ingrediente }}:</strong>
                                    {{ elemento.cantidad }}
                                    {{ elemento.unidad }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="col-12">
                    <ul class="list-group mt-2">
                        <li class="list-group-item bg-secondary text-white disabled">Descripción</li>
                        <li class="list-group-item">
                            {{ receta.descripcion }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}